@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0 10px ;
}
section span {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
footer{
    ul{
    color: #0d115b;
    font-size: 12px;
    }
    h3{
        color: #0f136d;
    }
}
.new{
    position: sticky;
    top: 0px;
    left: 0%;
    z-index: 999;
    section{
        display: none;
        transition: 0.9s;
    }
}
button{
    transition: 0.4s;
}
/* .card{
    padding: 0 0;
} */